@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;600&display=swap');

$gold: #febd59;
$lightgray: #eee;
$black: rgb(27, 27, 27);
$greyblack: rgb(22, 22, 22);
$white: rgb(247, 247, 247);

body {
    font-family: 'Quicksand', sans-serif;
}

.app {
    margin: 0 auto;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 0 1em 2em 1em;
    font-size: 16px;
    width: 100%;

    @media screen and (min-width: 800px) {
        width: 80%;
        max-width: 1000px;
    }
}

h1 {
    font-size: 30px;
    font-weight: 600;
    margin-top: 0;
}

h5 {
    font-size: 18px;
    line-height: 1.5;
}

.text-center {
    text-align: center;
}

.logo {
    width: 200px;
}

.main {
    width: 100%;
}

.progress-container {
    position: relative;
    width: 100%;
    margin: 1em 0;
}

.progress-background {
    width: 100%;
    border-radius: 4px;
    height: 4px;
    background-color: $lightgray;
}

.progress-value {
    position: absolute;
    border-radius: 5px;
    height: 5px;
    background-color: $gold;
    transition: width 0.2s ease-out;
}

.outcome {
    h2 {
        font-weight: 600;
    }
    p {
        font-size: 18px;
    }
}

.btn-nav {
    font-family: Oswald, arial, sans-serif;
    border-radius: 48px;
    border-width: 2px;
    border-color: $black;
    color: $black;
    background-color: transparent;
    transition-timing-function: ease-in-out;
    transition-duration: 0.3s;
    transition-property: background-color;
    text-transform: uppercase;
    padding: 10px 20px 8px 20px;
    display: inline-flex;
    text-align: center;
    font-weight: 700;
    font-size: 12px;
    letter-spacing: 2px;
    align-items: center;
    margin-top: 1em;
    margin-right: 1.5em !important;

    &:only-child {
        margin-right: 0 !important;
    }
}

.btn-nav:hover {
    background-color: $greyblack;
    color: $white;
}

div.container {
    width: 100%;
    padding: 1.5em;
    padding-top: 1em;
    margin-bottom: 2em;
    border: solid;
    border-width: 3px;
    border-radius: 16px;
    border-color: $black;
}
